.inline-block {
  vertical-align: top;
  display: inline-block;
}
.logo {
  width: 8%;
  padding: 1%;
  text-align: center;
}
nav {
  width: 73%;
  padding: 1%;
  font-size: 20px;
}
ul {
  width: 80%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
body {
  font-family: "Montserrat", sans-serif;
  width: fit-content;
  font-size: 20px;
  margin-bottom: 150px;
}
.heroImg {
  padding: 15px;
  background-color: goldenrod;
  background-size: cover;
  background-repeat: no-repeat;
}
/* .heroImg img {
  width: 40rem;
} */
.content {
  width: 30%;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  font-size: 30px;
  display: flex;
  column-gap: 36px;
}
footer {
  background-color: #373738;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  padding: 1%;
  margin-top: 20px;
}
header {
  display: flex;
}
li {
  font-size: 24px;
  color: #808080;
}
button {
  padding: 10px;
  font-size: 30px;
  font-weight: 400;
  color: #373738;
  font-family: "Montserrat", sans-serif;
  width: fit-content;
}
.column {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
.flexContainer {
  display: flex;
  column-gap: 20px;
}
.workGrid {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 30%;
  /* column-gap: 5rem; */
  /* row-gap: 2rem; */
  align-items: center;
  padding: 20px;
  align-content: center;
  grid-template-areas:
    "proto1-img proto1"
    "proto2 proto2-img"
    "proto3-img proto3";
  align-items: stretch;
}
.workGrid img {
  height: 100%;
}
.workGrid > div {
  border-bottom: #808080 1px solid;
  padding: 20px;
}
.width-33 {
  width: 33%;
  align-items: center;
  /* padding: 40rem; */
}

h1 {
  font-size: 48px;
  font-family: "Abril Fatface", cursive;
  text-align: center;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 36px;
}
#proto1 {
  grid-area: proto1;
}
#proto2 {
  grid-area: proto2;
}
#proto3 {
  grid-area: proto3;
}
#proto1-img {
  grid-area: proto1-img;
}
#proto2-img {
  grid-area: proto2-img;
}
#proto3-img {
  grid-area: proto3-img;
}
h2 {
  font-family: "Birthstone Bounce", cursive;
  font-size: 48px;
  display: flex;
  text-align: center;
  color: white;
}
